In [4]:
import pandas as pd

# Criar DataFrames com base nos Datasets

In [61]:
# Carregar Dataframe de Clientes (Customers)
df_customers = pd.read_csv('datasets/churn_customers.csv')

In [6]:
# Carregar Dataframe de Serviços (Services)
df_services = pd.read_csv('datasets/churn_services.csv')

In [56]:
# Carregar Dataframe de Contratos (Contracts)
df_contracts = pd.read_csv('datasets/churn_contracts.csv')

In [33]:
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7043 non-null   object
 7   Churn             7043 non-null   object
dtypes: float64(1), int64(1), object(6)
memory usage: 440.3+ KB

In [13]:
df_contracts.tail()

,customerID,tenure,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
7038,6840-RESVB,24,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,72,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,11,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,4,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,66,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

## Transformação de dados

In [23]:
# Transformar coluna TotalCharges de String para FLoat - Abordagem 1 com astype
# df_contracts['TotalCharges'] = df_contracts['TotalCharges'].astype(float)

In [35]:
# Transformar coluna TotalCharges de String para FLoat - Abordagem 2 com to_numeric
# df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'])

In [36]:
# Transformar coluna TotalCharges de String para FLoat - Abordagem 2 com to_numeric
df_contracts['TotalCharges'] = pd.to_numeric(df_contracts['TotalCharges'], errors='coerce')

In [38]:
# exibir a linha 489 do dataframe contracts
df_contracts.loc[488]

customerID                         4472-LVYGI
tenure                                      0
Contract                             Two year
PaperlessBilling                          Yes
PaymentMethod       Bank transfer (automatic)
MonthlyCharges                          52.55
TotalCharges                              NaN
Churn                                      No
Name: 488, dtype: object

In [41]:
df_contracts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   tenure            7043 non-null   int64
 2   Contract          7043 non-null   object
 3   PaperlessBilling  7043 non-null   object
 4   PaymentMethod     7043 non-null   object
 5   MonthlyCharges    7043 non-null   float64
 6   TotalCharges      7032 non-null   float64
 7   Churn             7043 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 440.3+ KB

In [43]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customerID     7043 non-null   object
 1   gender         7043 non-null   object
 2   SeniorCitizen  7043 non-null   int64
 3   Partner        7043 non-null   object
 4   Dependents     7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [63]:
# Renomar coluna no DataGrame, usando o método rename
df_customers.rename(columns={'SeniorCitizen': 'Above65yo'}, inplace=True)

In [54]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          7043 non-null   object
 1   genero      7043 non-null   object
 2   idoso       7043 non-null   int64
 3   parceiro    7043 non-null   object
 4   dependente  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

In [48]:
# Renomear usando lista - Modificar todos os nomes de colunas
# df_customers.columns = ['id', 'genero', 'idoso', 'parceiro', 'dependente']

In [64]:
df_customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7043 non-null   object
 1   gender      7043 non-null   object
 2   Above65yo   7043 non-null   int64
 3   Partner     7043 non-null   object
 4   Dependents  7043 non-null   object
dtypes: int64(1), object(4)
memory usage: 275.2+ KB

## Unificar DataFrames de Customers, Services e Contracts

In [66]:
# Contar a quantidade de registros por DataFrame
len(df_customers)

7043

In [67]:
len(df_services)

7043

In [68]:
len(df_contracts)

7043